
bin/

30_days_of_code/.project

30_days_of_code/.classpath

language_proficiency/.classpath

language_proficiency/.project
/.metadata/

RemoteSystemsTempFiles/.project

.vscode/launch.json

10_days_of_statistics/.project

.vscode/.ropeproject/
